html, body{ 
  min-height: 100vh;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 167, 18, 0.309);
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 200px;
  height: 200px;
  margin: 20px;
}